<h1> Minutia </h1>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>

<% if @post.tags.any? %>
  <h4>Tags:</h4>

<ul>
  <% @post.tags.each do |tag| %>
    <%= tag.category %>
  <% end %>
</ul>
  <% else %>
    <h4> No tags. </h4>
  <% end %>









<h2> What happened? </h2>

<%= render "form" %>
